{
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "rules": {
    "quotes": ["warn", "single"],
    "no-unused-vars": ["error", { "vars": "all", "args": "none" }],
    "strict": ["error", "never"],
    "react/jsx-no-duplicate-props": "warn",
    "react/jsx-no-undef" : "error",
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/no-direct-mutation-state": "error",
    "react/prop-types": "warn",
    "react/react-in-jsx-scope": "error",
    "react/require-render-return": "error",
    "react-native/no-unused-styles": "error",
  },
  "plugins": [
    "react",
    "react-native"
  ]
}
